<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" ngModel required #name="ngModel">
                    <span class="help-block" *ngIf="name.invalid && name.touched">Please enter shopping item name.</span>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" class="form-control" ngModel required #amount="ngModel" pattern="^[1-9]+[0-9]*$">
                    <span class="help-block" *ngIf="amount.invalid && amount.touched">
                    <span *ngIf="amount.errors['required']">Please enter shopping item amount.</span>
                    <span *ngIf="amount.errors['pattern']">Please enter valid amount.</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- <button (click)="addItem(nameInput, amountInput)" class="btn btn-primary" type="submit">Add</button> -->
                    <button class="btn btn-primary" type="submit" [disabled]="f.invalid">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
                    <button class="btn btn-default" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>